.container {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    padding: 5px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
}

.subtitle h2 {
    font-size: 1.3rem;
}

.subtitle p {
    color: var(--secondary-text);
}